fastapi==0.109.2
uvicorn==0.27.1
asyncpg==0.29.0
sqlalchemy==2.0.27
python-dotenv==1.0.1
pytz==2024.1
email_validator==2.1.0.post1
passlib[bcrypt]==1.7.4
shortuuid==1.0.13
python-jose[cryptography]==3.3.0
redis==5.0.1 